<h1>Welcome to Images Blog</h1>

<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Albums', albums_path %></li>
  <li class="list-group-item"><%= link_to 'Login', login_path() %></li>
  <li class="list-group-item"><%= link_to 'Signup', signup_path() %></li>
</ul>
<%= render 'pictures/picture' %>