<h2> Picture details </h2>

<p><strong> Title: </strong><%= @pictures.count %></p>

  <tbody>
  <% @pictures.each do |picture| %>
    <tr>
    <tr><h4><%= picture.tag_line%></h4></tr>
    <br>
      <% if logged_in? && (current_user.id == picture.album.user_id) %>
        <tr> <%= link_to 'Edit ', edit_picture_path(picture)%></tr>
        <tr><%= link_to ' Delete ', picture_path(picture), method: :delete, data: {confirm: "Are you sure want to delete this?"} %></tr>
      <% end %>
    <br>
    </tr>
  <% end %>
  </tbody>
</table>